/* .theme {
    background: black;
} */
body {
  margin: 0;
  align-items: center;
  align-content: center;
  text-align: center;
}
header,
footer {
  background-color: rgba(10, 54, 63, 1);
  color: rgba(242, 79, 93, 1);
  padding: 5px;
  font: bold 12px sans-serif;
}
main {
  display: flex;
  flex-flow: row-reverse;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  margin: 10px;
}

nav {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  background: yellowgreen;
  border-radius: 10px;
  width: 20%;
}
.g-board {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 40%;
}

.unit {
  width: 33.33%;
  height: 0;
  padding-bottom: 33.33%;
  text-align: center;
  font: 900 15vmin sans-serif;
  line-height: 150%;
  background: yellowgreen;
  cursor: grab;
  -webkit-box-shadow:inset 0px 0px 0px 1px black;
  -moz-box-shadow:inset 0px 0px 0px 1px black;
  box-shadow:inset 0px 0px 0px 1px black;
}

.play-X {
  color: rgba(242, 79, 93, 1);
  background: rgba(10, 54, 63, 1);
}

.play-O {
  color: rgba(242, 198, 67, 1);
  background: rgb(122, 119, 216);
}

.unit:hover {
  background: wheat;
}

/* Color Theme Swatches in Hex */
.MONKEY-ISLAND-1-hex {
  color: #f2505d;
}
.MONKEY-ISLAND-2-hex {
  color: #7a77d9;
}
.MONKEY-ISLAND-3-hex {
  color: #020e26;
}
.MONKEY-ISLAND-4-hex {
  color: #0b3640;
}
.MONKEY-ISLAND-5-hex {
  color: #f2c744;
}

/* Color Theme Swatches in RGBA */
.MONKEY-ISLAND-1-rgba {
  color: rgba(242, 79, 93, 1);
}
.MONKEY-ISLAND-2-rgba {
  color: rgba(122, 119, 216, 1);
}
.MONKEY-ISLAND-3-rgba {
  color: rgba(1, 14, 38, 1);
}
.MONKEY-ISLAND-4-rgba {
  color: rgba(10, 54, 63, 1);
}
.MONKEY-ISLAND-5-rgba {
  color: rgba(242, 198, 67, 1);
}

@media only screen and (max-width: 576px) {
  main {
    flex-direction: column-reverse;
    justify-content: space-between;

  }
  .g-board {
    width: 80%;
  }
}
